@font-face {
    font-family: 'Riley';
    src: url(../fonts/ep-stellari-display.ttf);
  }


h2, h3, h1 ,.antui,h6{font-family: 'Riley',sans-serif;}

body{background-color: #111111; color:white;}



footer ul{list-style-type: none ;padding-left: 0px;}
footer ul a{color:white;opacity: 70%;}
footer ul a:hover{color:white;opacity: 100%;}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.social a i {font-size: 2rem;color: white;transition: ease 0.3s;}
.social a i:hover{font-size: 2rem;color: rgb(35, 138, 235); transition: ease 0.3s;}


/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/

header{display: flex; justify-content: space-between;padding: 25px 2%;    position: fixed; z-index: 99999;    top: 0px
  ;
    width: 100%;}
nav{position: fixed;}


.offcanvas-header-1{position: absolute;right: 0px;padding: 10px 2.6%;}




.antui{font-weight: 500;color: white;transition: ease 0.3s;}
.antui:hover{color: rgba(255, 255, 255, 0.75);transition: ease 0.3s;}

.offcanvas-top{height: 100vh;}

.burger{height:30px;transition: ease 0.3s;}
.burger:hover{transform: rotate(-0.25turn);transition: ease 0.3s;}

.btn-close{padding: 25px 2.5%;transition: ease 0.3s;}
.btn-close:hover{transform: rotate(0.25turn);transition: ease 0.3s;}

.btn-close:focus{
    border: none;
    outline: none;
    box-shadow: none;
}



.btn-close:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav{
    color:black;
    background-color: white;
    height: 100%;
    display: flex;
    align-items:center
}

a{text-decoration: none;}


.navigation{display: flex;text-align: left;}


.navigation ul{width: calc(800px - 10vh);}

.nav-pos{
    display: flex;
    align-items: center
;}

.nav p{padding-bottom: 20px;}


.navigation ul a li{
    list-style-type: none;
    font-weight: bold;
    font-size: calc(3rem + 1.5vw);
    transition: ease 0.3s;
    color: #111111;
    text-transform: uppercase;
    width: 100%;

    font-family: "Riley";


  
    

}





.navigation ul a li:hover{

padding-left: 10PX ; transition: ease 0.1s;
/*border-left: solid 5px rgb(35, 138, 235);*/
color: rgb(35, 138, 235);

}

.nav-pos i{font-size: 3rem;padding-right: 30px;margin-top:25px;transition: ease 0.3s;}
.nav-pos i:hover{color: rgb(35, 138, 235);cursor: pointer;transition: ease 0.3s;}



/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/




/*/*/





/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/




.antui-s-1{background-color: #111111;}

.antui-s-1 img{padding: 25px 2.5%;}

h1{font-size: calc(1.9rem + 2.3vw);line-height: 2.4rem + 3vw;}



.top1{display: flex;align-items: center; flex-direction: column;justify-content: center;height: 100vh;}



a .scroll-ant{
  height: 200px;;
  position: absolute;
  bottom: 25px;
}







/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/
/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/
/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/










/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/
/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/




























footer{margin-top: 28vh;}

.back-to-top{position: absolute;right: 10px;width: 60px;}








@media screen and (max-width: 1400px) {
  

  ol, ul{padding-left: 0px;}  
.nav-pos{display: flex;}
.navigation ul a li{
    font-size: calc(2.3rem + 1.5vw) !important;}
    



}






@media screen and (max-width: 1200px){
  

  ol, ul{padding-left: 0px;}  
.nav-pos{display: block;}
.navigation ul a li{
    font-size: calc(2.3rem + 1.5vw) !important;}
    



}


@media screen and (max-width: 993px){
.responsive-footer{display: block;}
}
@media screen and (max-width: 640px) and (orientation: portrait) {
  

  ol, ul{padding-left: 0px;}  
.nav-pos{display: block;}
.navigation ul a li{
    font-size: calc(2.3rem + 1.5vw) !important;}
    



}
