@font-face {
    font-family: 'Riley';
    src: url(../fonts/ep-stellari-display.ttf);
  }


h2, h3, h1 ,.antui{font-family: 'Riley',sans-serif;}

body{background-color: #111111; color:white;}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }





/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/

header{display: flex; justify-content: space-between;padding: 25px 2%;    position: fixed; z-index: 99999;
    width: 100%;}
nav{position: fixed;}


.offcanvas-header-1{position: absolute;right: 0px;padding: 10px 2.6%;}




.antui{font-weight: 500;color: white;transition: ease 0.3s;}
.antui:hover{color: rgba(255, 255, 255, 0.75);transition: ease 0.3s;}

.offcanvas-top{height: 100vh;}

.burger{height:30px;transition: ease 0.3s;}
.burger:hover{transform: rotate(-0.25turn);transition: ease 0.3s;}

.btn-close{padding: 25px 2.5%;transition: ease 0.3s;}
.btn-close:hover{transform: rotate(0.25turn);transition: ease 0.3s;}

.btn-close:focus{
    border: none;
    outline: none;
    box-shadow: none;
}



.btn-close:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav{
    color:black;
    background-color: white;
    height: 100%;
    display: flex;
    align-items:center
}

a{text-decoration: none;}


.navigation{display: flex;}

.navigation ul{width: calc(800px - 10vh);}

.nav-pos{
    display: flex;
    align-items: center
;}

.nav p{padding-bottom: 20px;}


.navigation ul a li{
    list-style-type: none;
    font-weight: bold;
    font-size: calc(3rem + 1.5vw);
    transition: ease 0.3s;
    color: #111111;
    text-transform: uppercase;
    width: 100%;

    font-family: "Riley";


  
    

}



ol, ul{padding-left: 0px;}

.navigation ul a li:hover{

padding-left: 10PX ; transition: ease 0.1s;
/*border-left: solid 5px rgb(35, 138, 235);*/
color: rgb(35, 138, 235);

}

.nav-pos i{font-size: 3rem;padding-right: 30px;margin-top:25px;transition: ease 0.3s;}
.nav-pos i:hover{color: rgb(35, 138, 235);cursor: pointer;transition: ease 0.3s;}



/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/




/*/*/





/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/




.antui-s-1{background-color: #111111;}

.antui-s-1 img{padding: 25px 2.5%;}

h1{font-size: calc(1.9rem + 2.3vw);line-height: 2.4rem + 3vw;}



.top1{display: flex;align-items: center; flex-direction: column;justify-content: center;height: 100vh;}



a .scroll-ant{


  height: 200px;
  ;
      position: absolute;
      
bottom: 25px;


}



.demo-2 {

 background-color: #111111; transition: ease 1s;

}


.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}



.demo-2 .main-title {

	
	text-shadow: 2px 2px 4px rgba(26, 26, 26, 0.4);
  font-size: calc(3rem + 1.1vw);
}

.demo-2 .main-title::before {
	content: '';
	width: 30vw;
	height: 30vw;

	background: url(../img/logo.svg) no-repeat center center; opacity: 30%;
	background-size: cover;
	position: absolute;
	top: 50%;
  left: 50%;
  transition: ease 0.5s;
	border-radius: 50%;
	z-index: -1;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}


/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/
/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/
/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/






.item-grid {

  position: relative;
  
  overflow: hidden;
}
.item {
  position: relative;
  float: left;
  width: 33.3333333333%;
  background-color: #111111;
  overflow: hidden;
}
.item:after {
  content: '';
  display: block;
  background-color: inherit;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(2) translateX(-75%) translateY(-75%) translateZ(0) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
}
.item:hover:after {
  transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
}
.item:hover .item-image {
  transform: scale(1.2) ;
}
.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.item-image {
  height: auto;
  backface-visibility: hidden;

  transition: transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
}
.item-image::before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}
.item-text {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 300ms;
  transform: translateY(-20%);
}
.item-text-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.item-text-title {
  font-weight: normal;
  font-style: 16px;
  padding: 0 15px;
  margin: 5px 0 0 0;
}
.item-text-dek {
  text-transform: uppercase;
  font-style: 14px;
  opacity: 0.7;
  margin: 0;
}
.item-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}









/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/
/*====================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================
======================================================================================================================*/




@media screen and (max-width: 1400px) {
  
  .nav-pos{display: block;}
  .navigation ul a li{
      font-size: calc(2.5rem + 1.5vw);}
      
  
      
  
      .offcanvas-header-1{position: absolute;right: 0px;padding: 10px 5%;}
  
      .item{width:50%;}
  
  
      .demo-2 {

        background-color: red; transition: ease 1s;
       
       }
       
  
  
  }
  



  @media screen and (max-width: 1200px) {
  
    .nav-pos{display: block; transition: ease 0.3s;}


    .demo-2 .main-title{font-size: calc(1rem +3vw);}
 
      
    
    .demo-2 {

      background-color: blue; transition: ease 1s;
     
     }
     


     .demo-2 .main-title::before{

      width: 50vw;
      height: 50vw;
      transition: ease 0.5s;
      
           }

    
    }
















@media screen and (max-width: 640px) and (orientation: portrait) {
  
.nav-pos{display: block;}
.navigation ul a li{
    font-size: calc(2.3rem + 1.5vw) !important;}
    

    

    .offcanvas-header-1{position: absolute;right: 0px;padding: 10px 5%;}

    .item{width:100%;}

    .demo-2 {

      background-color: #111111; transition: ease 1s;
     
     }


     .demo-2 .main-title::before{

width: 70vw;
height: 70vw;
transition: ease 0.5s;

     }



}



